



.cardPro{
    background: rgb(61, 121, 76);
    background: linear-gradient(90deg, rgb(84, 145, 121) 0%, rgb(120, 241, 157) 50%, rgb(117, 236, 162) 100%);
   
}



/* .cardText {
    background-color: crimson;
} */


