h1 {
    color: rgb(175, 229, 233);
}

p {
    color: rgb(175, 229, 233);
}

.projectCards {
    background: rgb(61, 121, 76);
    background: linear-gradient(90deg, rgb(84, 145, 121) 0%, rgb(120, 241, 157) 50%, rgb(117, 236, 162) 100%);
}

.cardTitle {
    background-color: crimson;
}

.cardText {
    background-color: crimson;
}


