.container .navbar {
    
    background: transparent;
    padding: 0px;
    color: transparent;
   
    
    
    
    
}

body {
    color: rgb(175, 229, 233);
    font-weight: bold;  

}

a {
    color: rgb(175, 229, 233);

}

.resume {
    font-weight: bold;
}